
<form class="mx-auto w-50" method="POST" action="#" role="form">
  <section class="mat-typography">
    <h1>Login</h1>
  </section>

  <div *ngIf="errorMessage!=null" class="alert alert-danger">
      {{ errorMessage }}
  </div>

  <div *ngIf="!mfaStep">
    <mat-form-field class="w-100">
      <input matInput placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput placeholder="Password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <div style="text-align: right">
      <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
    </div>

    <hr>

    <div style="text-align: center">
        <a mat-button [routerLink]="['/auth/register']">Register</a>
        <a mat-button [routerLink]="['/auth/forgotPassword']">Forgot Password?</a>
        <a mat-button [routerLink]="['/auth/resendCode']">Resend Confirmation Code</a>
    </div>
  </div>

  <div *ngIf="mfaStep">
      <awscognito-mfa [destination]="mfaData.destination" [onSubmit]="mfaData.callback"></awscognito-mfa>
      <hr>
      <a (click)="cancelMFA()" href="">Cancel</a>
  </div>
</form>
