<div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <input name="dialect" [(ngModel)]="workspace.datasource.dialect" placeholder="mysql" size="15" />
    <input name="host" [(ngModel)]="workspace.datasource.host" placeholder="host" />
    <input name="port" [(ngModel)]="workspace.datasource.port" placeholder="port" size="6"/>
    <input name="database" [(ngModel)]="workspace.datasource.database" placeholder="database" size="20" />
    <input name="username" [(ngModel)]="workspace.datasource.username" placeholder="username" size="15" />
    <input name="password" [(ngModel)]="workspace.datasource.password" placeholder="password" size="15" />
    <button>connect</button>
    <span>{{ mainService.dbConnectionStatus }}</span>
    <button [routerLink]="['/securehome/datasource/list']">back</button>
  </form>
</div>
