<form class="mx-auto w-50" method="POST" action="#" role="form">
  <section class="mat-typography">
    <h1>Create account</h1>
  </section>

  <div *ngIf="errorMessage!=null" class="alert alert-danger">
      {{ errorMessage }}
  </div>

  <mat-form-field class="w-100">
    <input matInput placeholder="Name" [(ngModel)]="registrationUser.name" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Email" type="email" [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Phone number" [(ngModel)]="registrationUser.phone_number" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Password" type="password" [(ngModel)]="registrationUser.password" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <div style="text-align: right">
    <button mat-raised-button color="primary" (click)="onRegister()">Create your account</button>
  </div>

  <hr>

  <div style="text-align: center">
      Already have an account? <a mat-button [routerLink]="['/auth/login']">Login</a>
  </div>
</form>
