<!-- <mat-grid-list cols="4" rowHeight="1:3">
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'"></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightgreen'">

        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Favorite food" value="Sushi">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
          </form>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightpink'"></mat-grid-tile>
</mat-grid-list> -->

<form class="mx-auto w-50" method="POST" action="#" role="form">
  <section class="mat-typography">
    <h1 *ngIf="!datasource.id">Add datasource</h1>
    <h1 *ngIf="datasource.id">Update datasource</h1>
  </section>

  <div *ngIf="errorMessage!=null" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <mat-form-field class="w-100">
    <mat-select placeholder="Dialect" [(ngModel)]="datasource.dialect" [ngModelOptions]="{standalone: true}">
      <mat-option value="mysql">mysql</mat-option>
      <mat-option value="postgres">postgres</mat-option>
    </mat-select>

    <!-- <input matInput placeholder="Dialect" [(ngModel)]="datasource.dialect" [ngModelOptions]="{standalone: true}"> -->
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Host" [(ngModel)]="datasource.host" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Port" [(ngModel)]="datasource.port" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Database" [(ngModel)]="datasource.database" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Username" [(ngModel)]="datasource.username" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Password" [(ngModel)]="datasource.password" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <div style="text-align: right">
    <a mat-raised-button [routerLink]="['/securehome/datasource/list']">Back</a>
    <button mat-raised-button color="primary" (click)="onSaveDatasource()">
      <span *ngIf="!datasource.id">Add datasource</span>
      <span *ngIf="datasource.id">Update datasource</span>
    </button>
  </div>
</form>
