<form class="mx-auto w-50" method="POST" action="#" role="form">
  <section class="mat-typography">
    <h1>Confirm Registration</h1>
  </section>

  <div *ngIf="errorMessage!=null" class="alert alert-danger">
      {{ errorMessage }}
  </div>

  <mat-form-field class="w-100" *ngIf="email===null">
    <input matInput placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="Confirmation Code" [(ngModel)]="confirmationCode" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <div style="text-align: right">
    <button mat-raised-button color="primary" (click)="onConfirmRegistration()">Confirm</button>
  </div>

  <hr>

  <div style="text-align: center">
    Can't find your code?
    <a mat-button [routerLink]="['/auth/resendCode']">Resend Code</a>
    <a mat-button [routerLink]="['/auth/register']">Register</a>
    <a mat-button [routerLink]="['/auth/login']">Login</a>
  </div>
</form>
