<form class="mx-auto w-50" method="POST" action="#" role="form">
  <section class="mat-typography">
    <h1>Forgot Password</h1>
  </section>

  <div *ngIf="errorMessage!=null" class="alert alert-danger">
      {{ errorMessage }}
  </div>

  <mat-form-field class="w-100">
    <input matInput placeholder="Verification Code" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="w-100">
    <input matInput placeholder="New Password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <div style="text-align: right">
    <button mat-raised-button color="primary" (click)="onNext()">Reset Password</button>
  </div>

  <hr>

  <div style="text-align: center">
    <a mat-button [routerLink]="['/auth/forgot-password']">Back</a>
    <a mat-button [routerLink]="['/auth/login']">Login</a>
  </div>
</form>
